<div class="comtainer">
  <div class="row">
    <div class="col lg 12">
      <nav class="navbar navbar-expand-sm" style="background-color:rgb(1, 143, 209);">
        <div style="color: white;font-size: 50px;"><b>Bank</b></div>
        <ul class="nav">
          <li class="nav-item" style="margin-left:700px;">
            <a class="nav-link" routerLink='/employees' style="color:white;">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/customer' style="color:white;">Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/staff' style="color:white;">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/statement' style="color:white;">Statement</a>
          </li>
          <div class="dropdown">
            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
              Login/Register
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink='/login'>Login</a>
              <a class="dropdown-item" routerLink='/registration'>Register</a>
            </div>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
